@model FashionShopMVC.Models.DTO.UserDTO.GetUserDTO

@{
    ViewData["Title"] = "Edit";
    // Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title" style="font-size: 30px">Chỉnh sửa nhân viên</h3>
    </div>

    <form id="editEmployeeForm" asp-action="Edit" asp-controller="Employee" asp-area="Admin" novalidate>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID" /> 
            <input type="hidden" asp-for="Role" />

            <div class="form-group">
                <label asp-for="FullName" class="control-label">Họ và tên</label>
                <input asp-for="FullName" class="form-control" placeholder="Vui lòng nhập họ và tên" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Vui lòng nhập email" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Vui lòng nhập số điện thoại" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            

            <div class="form-group">
                <label  class="control-label">Vai trò</label>
                <input disabled class="form-control" value="@Model.Role"  />
            </div>

            
        </div>
        <!-- /.card-body -->
        <div class="card-footer">
            <button type="submit" class="btn btn-success">Lưu</button>
            <a asp-action="Index" class="btn btn-default float-right">Hủy</a>
        </div>
    </form>
</div>
<!-- /.card -->
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
